<script type="text/javascript">
  $(document).ready(function(){
    controller.initControls($('#inpEnglish'), $('#inpPolish'), $('#inpPolishReadonly'), $('#btnCheck'), $('#showPolishSentence'), $("#alertSuccess"), $("#alertFail"), $("#index"))
    controller.initSentence('<%= @sentence.english %>', '<%= @sentence.polish %>', '<%= @sentence.id %>')
    controller.setCategoryId('<%= @category_id %>')
    controller.initPolisher(polisher)
    $("#alertSuccess, #alertFail").hide()
    $('#navbar').hide()
  });
  var polisher = (function(){
    var publicApi = {}
    publicApi.checkIsCorrect = function(polishOriginal, polishNew){
      return polishOriginal == polishNew
    }

    return publicApi;
  })();

</script>



<div class="form-group form-check mt-5">
  <input type="checkbox" class="form-check-input" id="showPolishSentence">
  <label class="form-check-label" for="exampleCheck1">Show polish sentence</label>
</div>
<div class="form-group col-md-12">
  <input id="inpEnglish" class="form-control form-control-plaintext mb-3" readonly value="" />
  <input id="inpPolishReadonly" class="form-control form-control-plaintext mb-3" style="display:none" readonly value='' />
  <input id="inpPolish"  class="form-control" placeholder="Write in polish here" autocomplete="off"/>
  <label class="pull-right small" style="float:right">
    <span id="index">1</span>/<%= @total_category_sentences %>
  </label>

  <a href="javascript:void(0);" id="btnCheck" class="btn btn-primary mt-3">Check!</a>
</div>

<div class="alert alert-success" id="alertSuccess" role="alert">
  <strong>Well done!</strong> You got right.
</div>

<div class="alert alert-danger" id="alertFail" role="alert">
  <strong>Try again!</strong> Not quite right.
</div>

<div>
  <h4>  Categories </h4>
</div>
<div class="col-md-12">
  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-sm-3">
        <div class="card text-center bg-success mb-3">
            <a class="btn btn-success card-body" href="/sentences/play/<%=category%>" class="btn btn-success"><%= category %></a>
        </div>
      </div>
    <% end %>
  </div>
</div>
